#Tipos de archivos
*.jpg
*.png

#Carpetas
/gitgithub
/frontenddeveloper
/fundamentos_javascript
/fundamentos_nodejs
/javascript_asincrono
/javascript_basico
/javascript_engine_v8
/vuejs_basico
/vuejs_profesional